@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #dff9fb;
    
}

#distance{
    background-color: #788994;
    color: white;
    margin: 0.3em;
    font-size: larger;
    border-radius: 5px;
}
p{
    padding: 1em;
}

#weight {
    background-color: #788994;
    color: white;
    margin: 0.3em;
    font-size: larger;
    border-radius: 5px;


}

nav{
    background-color: #535c68;
   
}

#center{
    display: flex;
    justify-content:center;
}

.button{
    display: inline-block;
    padding: 0.5em;
    border-radius: 20px;
display: flex;
justify-content: center;
    background-color: #6ab04c;
    margin-top: 50px;
    margin-bottom: 50px;
}

button{
    display: inline-block;
    font-size: 18px !important;

}